<div class="card">
  <div class="card-header">
    Friend
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @friend.first_name%> <%= @friend.last_name %></h5>
    <p class="card-text"><%= "Email: " %> <%= @friend.email %></p>
    <p class="card-text"><%= "Phone: " %> <%= @friend.phone %></p>
    <p class="card-text"><%= "Twitter: "%> <%= @friend.twitter %></p>
    <%= link_to "Edit", edit_friend_path(@friend), class: "btn btn-primary" %>
    <br/><br/>
    <%= button_to "Delete", @friend, method: :delete, class: "btn btn-danger" %> 
  </div>
</div>

<div>
  <br/><br/>
  <%= link_to "Back", friends_path, class: "btn btn-secondary" %>
</div>
